<ion-content>
  <ion-buttons slot="start" routerLink="../tabs/tab1"></ion-buttons>
   <div class="container">
     <div class="header">
       <div class="title">
         <img src="https://image.flaticon.com/icons/png/512/149/149071.png">
       </div>
       <h3>Bievenido!</h3>
       <p>Registra tu cuenta</p>
     </div>
     <div class="body">
       <ion-list>
         
         <ion-item>
           <ion-icon slot="start" name="at"></ion-icon>
           <ion-input placeholder="Correo"></ion-input>
         </ion-item>
         <ion-item>
           <ion-icon slot="start" name="lock"></ion-icon>
           <ion-input placeholder="Contraseña" type="pasword"></ion-input>
         </ion-item>
       </ion-list>
       <div>
          <ion-button color="danger" aling="center" routerLink="../tabs/tab1" type="submit">INICIAR</ion-button>
       </div>
       <div>
        <ion-button color="danger" (click)="ingresar('google')">GOOGLE</ion-button>

        <ion-button color="danger" (click)="ingresar('facebook')" >FACEBOOK</ion-button>

       </div>
     </div>
     <div class="footer">
       No tienes una cuenta?   <a routerLink="../registro">Registrate Aquí</a>
     </div>
   </div>
</ion-content>