
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" color="danger" routerLink="../tabs/tab1">
        <ion-icon slot="start" name="return-up-back-outline"></ion-icon>
      </ion-buttons>   
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-buttons slot="start" routerLink="../tabs/tab1"></ion-buttons>
   <div class="container">
     <div class="header">
       <div class="title">
         <img src="https://image.flaticon.com/icons/png/512/149/149071.png">
       </div>
       <h3>BIENVENIDO</h3>
       <p>Inicia sesion</p>
     </div>
     <div class="body">
       <ion-list>
         
         <ion-item>
           <ion-icon slot="start" name="at"></ion-icon>
           <ion-input placeholder="Correo"  required></ion-input>
         </ion-item>
         <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input placeholder="Password" type="password"  required></ion-input>
         </ion-item>
         <div class="footer">
          <a routerLink="../registro">Olvidaste tu contrasena?</a>
        </div>
       </ion-list>
       <div>
          <ion-button routerLink="../tabs/tab1" color="danger" expand="block" size="default">INICIAR</ion-button>
       </div>
       <div>
        <ion-button (click)="ingresar('google')" size="default">
       GOOGLE
        </ion-button>
        <ion-button (click)="ingresar('facebook')" size="default">FACEBOOK</ion-button>
       </div>
     </div>
     <div class="footer">
       No tienes una cuenta?.. <a routerLink="../registro">  Registrate Aquí </a>
     </div>
   </div>
</ion-content>