<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>


    </ion-toolbar>

  </ion-header>
  
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>


  
  
  <ion-grid>
    <ion-row  class="row1"  >
      <ion-col class="col1" size-lg="3" size-md="4"   size-sm="4" size-xs="6"   *ngFor="let pro of products; let i = index"  >
            <ion-card  class="card"  class="tarjeta" style="margin: 0px;" >  
               
          

              <div class="img2"  (click)="presentModal()"> 
 
                 
                  
                 
                
              <ion-img  src="{{pro.img}}"> </ion-img>
  
            
              <div class="chip"> 
                <ion-chip style=" background-color: yellowgreen;">
                  <ion-label>{{pro.price}} $</ion-label>
                   </ion-chip >
              </div> 
             </div>
               
                
                 
                <ion-card-header no-padding class="category-banner " >  
                      <ion-card-title>

                      {{pro.name}}
                     
                    </ion-card-title>
                
                  <p>Tienda Carmita</p>
                </ion-card-header>


                
                <ion-chip style="width: 100%; justify-content: center;">
                  <ion-icon name="remove-outline" (click)="rest(i)" ></ion-icon>

                  
                  
                  <ion-label  >{{this.cont[i]}}</ion-label>
                  
                  <ion-icon style="float:right ;" name="add-outline" (click)="sum(i)"></ion-icon >

  
                    
                </ion-chip>

               
                <ion-icon name="cart-outline" class="is">
                
                </ion-icon> 



                <ion-chip style="width: 100%; " >
                  <ion-label style="text-align: center;width: 100%;">Añadir</ion-label>
                  
  
                    
                </ion-chip>



              </ion-card>
            
      </ion-col>   
    
    </ion-row>
 </ion-grid>





 


 

  
  
</ion-content>
