<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Tiendas Favoritas
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
   
  </ion-header>
   
  <ion-card *ngFor="let cat of itens" class="category-block">
    
    <ion-card-header no-padding class="category-banner">
      <ion-card-title>
        {{cat.category}}
      </ion-card-title>
     
      
    </ion-card-header>
 
  <ion-slides [options]="sliderConfig">

        <ion-slide *ngFor="let product of cat.products"> 
          
       
          <ion-card-header>
           
      </ion-card-header>

        </ion-slide>
        
   </ion-slides>
   
  </ion-card>  

<ion-card>

  


  
</ion-card>

    
</ion-content>
