<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Tiendas Favoritas
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  
 
   
  <ion-card *ngFor="let cat of itens" class="category-block">
    
    <ion-card-header no-padding class="category-banner">
      <ion-card-title>
        {{cat.category}}
      </ion-card-title>
  </ion-card-header>
 

</ion-card> 

    <ion-grid>
      <ion-row>  
        <ion-col *ngFor="let cat of itens">
                          
              <ion-list-header lines="inset">
                      <ion-label>Ofertas</ion-label>
                </ion-list-header>
                <ion-slides [options]="slideOptsOne">
                  <ion-slide *ngFor="let product of cat.products">
                    <ion-card >
                      <ion-card-content>
                        <ion-img src="{{product.img}}"></ion-img>
                        <h2> <b>{{product.name}} </b></h2>
                        
                      </ion-card-content>
                    </ion-card>
                  </ion-slide>

                </ion-slides>
                </ion-col>
      </ion-row>
    </ion-grid>

       
   
   

<ion-content>

 
 






