<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SECCIONES

      
    </ion-title>
  </ion-toolbar>
</ion-header>
 

 
 <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>

<ion-content>
  <ion-header collapse="condense">
    

  </ion-header>

  



<!-- Default Refresher -->

<ion-content>

<ion-content class="card-background-page">
 <ion-grid>
  <ion-row>
    <ion-col size-lg="3" size-md="4"   size-sm="6" size-xs="12" *ngFor="let cat of categoryP"  >
<ion-card>
    <img src="{{cat.img}}" class="imgs" height="230"/>
    <div class="card-title">{{cat.name}}</div>
   
  </ion-card>

  </ion-col>


</ion-row>
</ion-grid>



</ion-content>
