.imgs{
  filter:brightness(0.5); //filtro de imagen
}


.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 32%;
    font-size: 3.3em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  -webkit-text-stroke: 0.4px #FF931C;
  
  font-family: 'Monotype Corsiva';
  
  
}

  }
