
<ion-content color="dark">
  <br>
  <div>
    <img src="assets/icon/dog.png" alt="">
    <br><br>
  </div>

    <div class="imagenesdesplegables">    
     <ul>
      <li><img src="assets/icon/slider-018.png" alt=""></li>
      <li><img src="assets/icon/slider-014.jpg" alt=""></li>
      <li><img src="assets/icon/slider-019.jpg" alt=""></li>
      <li><img src="assets/icon/slider-022.jpg" alt=""></li>
      <li><img src="assets/icon/slider-012.jpg" alt=""></li>
      <li><img src="assets/icon/sistemas.png" alt=""></li>			 
    </ul>
    </div>

<br>
  <div class="bienvenidas">
  <h1> Bienvenidos a nuestra Aplicacion Movil</h1>
  <p>Quieres utilizar nuestros servicios y ser parte de la comunidad de ayuda para el cuidado y rescate canino mas grande del ecuador.
    <br>Primeramente debera Registrarse e iniciar seccion. 
    <br> Una vez Ingresado dentro de este aplicativo podra realizar las siguiente funciones:
  <br> * Reporte de abandono. 
  <br> * Tips de Adiestramientos y Cuidados Canino
  <br> * Adopciones de Mascotas </p>
  </div>

<div>

    <ion-button class="botonadoptar" color="warning" (click)="login()" >
    <h2> Iniciar Secion <br> O <br> Registrarse </h2>
  </ion-button>
</div>
   
      
</ion-content>
