// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
.modal-price{
    --height: 50%;
    border-radius: 15px;
    padding: 25px;
    }

