<ion-content>
  <div class="container">
    <div class="header">
      <h3>Bienvenido!</h3>
      <p>REGISTRO</p>
    </div>
    <div class="body">
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Nombre Completo"></ion-input>
        </ion-item>        
        <ion-item>
          <ion-icon slot="start"  name="trail-sign-outline"></ion-icon>
          <ion-input placeholder="Direccion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="albums-outline"></ion-icon>
          <ion-input placeholder="Cedula"></ion-input>
        </ion-item>
        <ion-item>
        <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
          <ion-input placeholder="telefono"></ion-input>
        </ion-item>
      
      <ion-item>
          <ion-icon slot="start" name="at"></ion-icon>
          <ion-input placeholder="Correo"></ion-input>
        </ion-item>
      <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input placeholder="Contraseña"></ion-input>
      </ion-item>
    </ion-list> 
    </div>
  <div>
    <ion-button color="danger">REGISTRARSE</ion-button>
  </div>
  </div>  
</ion-content> 