<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="danger" routerLink="../user">
      <ion-icon slot="start" name="return-up-back-outline"></ion-icon>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="header">
      <h3>EDITAR USUARIO</h3>
      <p>Tus Datos</p>
    </div>
    <div class="body">
      <form>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="albums-outline"></ion-icon>
          <ion-input placeholder="Cedula" maxlength="10" required type="number"  required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Nombres y apellidos" minlength="5" maxlength="40" required></ion-input>
        </ion-item>        
        <ion-item>
          <ion-icon slot="start"  name="trail-sign-outline"></ion-icon>
          <ion-input placeholder="Direccion" minlength="5" maxlength="40" required></ion-input>
        </ion-item>
        <ion-item>
        <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
          <ion-input placeholder="telefono" type="number" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="at"></ion-icon>
          <ion-input placeholder="Email" type="email"  required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input placeholder="Password" type="password"  required></ion-input>
        </ion-item>
      </ion-list>
        <div>
        <ion-button color="danger" type="submit" >GUARDAR</ion-button>
        </div>
      </form> 
    </div>
  
  </div>  
</ion-content>