<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="danger" routerLink="../tabs/tab3">
      <ion-icon slot="start" name="return-up-back-outline"></ion-icon>
   
      <ion-title>Perfil Cliente</ion-title>

   
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="header">
      <div class="title">
        <img src="https://image.flaticon.com/icons/png/512/149/149071.png">
      </div>
    </div>
    <div class="body">
     
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Nombres y apellidos" minlength="5" maxlength="40" required></ion-input>
        </ion-item>        
      </ion-list>
        <div>
        <ion-button color="danger" routerLink="../edituser"  >EDITAR USUARIO</ion-button>        
        </div>
        <div>
          <ion-button color="danger" routerLink="../addtienda" >Ofertas y LocaLes</ion-button>
        </div>

      
    </div>
  
  </div>  
</ion-content>