
   
  <ion-header [translucent]="true">
    <ion-toolbar>
      
     
 
      <ion-title>
          Comprar
      </ion-title>

      <ion-buttons slot="start" color="danger"  (click)="exit()" >
        <ion-icon slot="start" name="chevron-back-outline"  ></ion-icon>
  
      </ion-buttons> 

        <ion-back-button></ion-back-button>
      


    </ion-toolbar>
    
      
  </ion-header>
  

<ion-content>
  <ion-card>
    <img src="https://image.freepik.com/vector-gratis/coleccion-diferentes-tipos-snacks_23-2147927928.jpg">
  </ion-card>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>A 200 metros de Usted</ion-card-subtitle>
      <ion-card-title>Manzana</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  




 
  <ion-button expand="full" >Comprar</ion-button >


</ion-content>
