
.tilecar {
       text-align: center;
       font-size: 28px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    .imgsrc{
      text-align: center;
    }

    .header-row {
      background: #7163AA;
      color: #fff;
      font-size: 18px;
    }
    
    ion-col {
      border: 1px solid #ECEEEF;
    }