

ion-img{
    height: 100px;  
    
   }
   
   .is{font-size: 25px; 
       position: absolute;
       right: 6%;
       bottom: 30%; 
       }
   .precio{
   font-size:16px;
   
   }
   
   .chip{
       float: right;
       bottom: -30%;
   }
   
   