<ion-header>
  <ion-toolbar>
    <ion-title>PRODUCTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  


  <ion-grid>
    <div > 
     <ion-row  *ngFor="let cat of products">  
       

      <ion-list>
      <ion-item  style="width: 100%;" size-lg="12" size-md="12"   size-sm="12" size-xs="12"  
      text.left button tappable
      (click)="cat.expanded =!cat.expanded"   
      
      > <!--  <ion-thumbnail item-start> 
        <img src="https://www.redagricola.com/cl/assets/uploads/2017/08/manazana-792x591-c-default.jpg">
           </ion-thumbnail>    -->
      {{cat.category}}
    
  
</ion-item >
    </ion-list>


      <ion-row *ngIf="cat.expanded">
      
     <ion-col class="col1" size-lg="3" size-md="4"   size-sm="4" size-xs="6"   *ngFor="let pro of cat.products; let i = index"   >
       
       <ion-card  class="card"  class="tarjeta" style="margin: 0px;" >  
          
     
   
         <div class="img2"  (click)="presentModal()"> 
   
            
             
            
           
         <ion-img  src="{{pro.img}}"> </ion-img>
   
       
         <div class="chip"> 
           <ion-chip style=" background-color: yellowgreen;">
             <ion-label>{{pro.price}} $</ion-label>
              </ion-chip >
         </div> 
        </div>
          
           
            
           <ion-card-header no-padding class="category-banner " >  
                 <ion-card-title>
   
                 {{pro.name}}
                
               </ion-card-title>
           
             <p>Tienda Carmita</p>
           </ion-card-header>
   
   
           
           <ion-chip style="width: 100%; justify-content: center;">
             <ion-icon name="remove-outline" (click)="rest(i)" ></ion-icon>
   
             
             
             <ion-label  >{{this.cont[i]}}</ion-label>
             
             <ion-icon style="float:right ;" name="add-outline" (click)="sum(i)"></ion-icon >
   
   
               
           </ion-chip>
   
          
           <ion-icon name="cart-outline" class="is">
           
           </ion-icon> 
   
   
   
           <ion-chip style="width: 100%; " >
             <ion-label style="text-align: center;width: 100%;">Añadir</ion-label>
             
   
               
           </ion-chip>
   
   
   
         </ion-card>
       
   </ion-col>   
   
  </ion-row>
   
   
   
     </ion-row>
   
   </div>
   
   </ion-grid>
   








</ion-content>


























