ion-col{
    border: #F1F4EC 2px solid;
position: float;     
height: 200px;  
}
.divImgs{
    border-width: 0px; border-style: none
}
.imgs{
    width:"100%"; 
}


.ps{
    font-size: 12px;text-align:left;
}

.spans{
    font-weight: bold;color: black;
}

.is{font-size: 25px; 
position: absolute;
right: 10%;
bottom: 10%; 
}