<ion-header>
  <ion-toolbar>
    <ion-title>productt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="3" size-md="4"   size-sm="4" size-xs="6">
        <img  class="imgs" src="https://i.pinimg.com/236x/e4/f3/40/e4f3408cee71e3a925da85d1968a7e2d--fitness-foods-fitness-nutrition.jpg">
      </ion-col>
      <ion-col>
        <div class="divImgs">
        
        <img  class="imgs" src="https://i.pinimg.com/236x/e4/f3/40/e4f3408cee71e3a925da85d1968a7e2d--fitness-foods-fitness-nutrition.jpg">
        </div>
      </ion-col >
      <ion-col size-lg="3" size-md="4"   size-sm="4" size-xs="6">
        <div class="divImgs">
        <img class="imgs" src="https://i.pinimg.com/236x/e4/f3/40/e4f3408cee71e3a925da85d1968a7e2d--fitness-foods-fitness-nutrition.jpg">
        </div>

      </ion-col >
     
      <ion-col size-lg="3" size-md="4"   size-sm="4" size-xs="6">
        
        <div class="divImgs">
        
        <img  class="imgs" src="https://i.pinimg.com/236x/e4/f3/40/e4f3408cee71e3a925da85d1968a7e2d--fitness-foods-fitness-nutrition.jpg">
      </div>
      <a class="item item-icon-right assertive" href="#"  style="border-width: 0px; border-style: none;" >
        <p  class="ps">Manzana <br/>
          <span  class="spans"> 14 </span>    <br> 
          <span  class="spans"> Tienda Nose</span>
        
          <ion-icon name="cart-outline" class="is"></ion-icon>
        </p>
        

        </a>


      </ion-col>
    </ion-row>  
  </ion-grid>


</ion-content>
