ion-content {
    --offset-top: 0px;
    --offset-bottom: 0px;
    --background: rgb(255, 255, 255);
    --color:  black;//registra tu cuenta
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px 0;
        .header {
            flex: 1;
            justify-content: center;
            text-align: center;
            padding-top: 10px;
            .title {
                img {
                    height: 100px;
                    width: 100px;
                }
            }
            h3 {
                color: #06bebd; //bienvenido
            }
        }
        .body {
            flex: 1.5;
            ion-list {
                --background: none;
                background: none;
                margin-bottom: 0!important;
                
                ion-item {
                    --border-color: transparent!important;
                    --highlight-height: 0;
                    --background: none;
                    background:  rgba(191, 247, 214, 0.911);
                    border-radius: 4px;
                    margin-bottom: 10px;
                    ion-icon {
                        color:  black;
                    }
                    ion-input {
                        --color:  black;
                    }
                }
            }
        }
        .footer {
            display: flex;
            a {
                color: #06bebd; //footer registrate aqui
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}